/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
}
.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: flex-start;
}
/* Utility classes */
.border {
  border: 1px solid black;
  margin: 8px;
}
.txt-center {
  text-align: center;
}
.my {
  margin: 8px 0;
}
.mx {
  margin: 0 8px;
}
/* Classes for layout */
.leftOption {
  flex: 0.60;
  background-color: #fff;
  margin-right: 10px;
  padding: 1rem;

}

.leftOption .title div {
  display: grid;
  align-items: center;
  margin-top: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.leftOption .title div p {
  background-color: #ccc;
  padding : 8px 10px;
  color: rgb(10, 10, 10);
  font-weight: 600;
}


.leftOption > div {
  border-bottom: 1px solid rgb(231, 211, 211);
  padding: 1rem 0;
}

.heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  color: rgb(105, 92, 92);
}

.leftOption .price div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.leftOption .price div p {
  font-weight: 500;
}
.leftOption .price input {
  width: 100%;
  margin-top: 8px;
}

.leftOption .ratings div {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.leftOption .ratings div input {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
.leftOption .ratings div label {
  font-size: 18px;
}


.leftOption .brand div {
  margin: 1rem 0;
  color: black;
  display: flex;
  align-items: center;
}
.leftOption .brand div input {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.leftOption .btn {
  outline: 0;
  border: 0;
  background-color: #2874f0;
  color : #fff;
  width: 90%;
  height: 40px;
}
.leftOption .btn:hover{
  opacity: 0.8;
}



.rightCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  flex: 2;
}

.card {
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
}
.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in;
  filter: drop-shadow(0px 0px 1rem #ccc);
}
.cardImg {
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

img {
  width: 90%;
  object-fit: contain;
  display: block;
  text-align: center;
}
.name {
  font-size: 1rem;
}
.rating {
  background-color: green;
  width: 50px;
  padding: 4px 8px;
  color: #fff;
  border-radius: 5px;
}
.price {
  font-weight: bold;
  font-size: 1.2rem;
}
.brand {
  color: rgb(5, 5, 216);
  font-size: 1.2rem;
}
